<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>


</head>
<body>
<div class="footer spad" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./indextest.html"><img alt="" src="/img/logo.png"></a>
                    </div>
                    <ul>
                        <li>ที่อยู่สำหรับติดต่อ: 370/84 แขวงบางมด เขตทุ่งครุ กรุงเทพฯ 10140</li>
                        <li>โทรศัพท์: 089-072-4608</li>
                        <li>อีเมล: nice.phamin@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>ศูนย์ช่วยเหลือ</h6>
                    <ul>
                        <li><a href="#">เกี่ยวกับเรา</a></li>
                        <li><a href="#">เกี่ยวกับร้านค้า</a></li>
                        <li><a href="#">สั่งซื้อสินค้าอย่างไร</a></li>
                        <li><a href="#">เริ่มขายสินค้าอย่างไร</a></li>
                        <li><a href="#">การจัดส่งสินค้า</a></li>
                        <li><a href="#">ช่องทางการชำระเงิน</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">เราคือใคร?</a></li>
                        <li><a href="#">ร่วมงานกับเรา</a></li>
                        <li><a href="#">นโยบายความเป็นส่วนตัว</a></li>
                        <li><a href="#">นโยบายของ Goods Trade</a></li>
                        <li><a href="#">Goods Trade Blog</a></li>
                        <li><a href="#">Seller Centre</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>ร่วมรับข่าวสารตอนนี้</h6>
                    <p>คุณจะได้รับอีเมลอัพเดตเกี่ยวกับโปรโมชั่นและข้อเสนอสุดพิเศษ</p>
                    <form action="#">
                        <input placeholder="ใส่อีเมลของคุณที่นี่" type="text">
                        <button class="site-btn" type="submit">ลงนามกับเรา</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>