<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv=”content-language” content=”th” />
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goods trade</title>

    <!-- Style -->
    <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
            rel="stylesheet"
    >


    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/sweetalert.css}" href="css/sweetalert.css">
    <link rel="stylesheet" th:href="@{/css/dropzone.min.css}" href="css/dropzone.min.css">

    <!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}" src="js/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}" src="js/jquery.nice-select.min.js"></script>
    <script th:src="@{/js/jquery-ui.min.js}" src="js/jquery-ui.min.js"></script>
    <script th:src="@{/js/jquery.slicknav.js}" src="js/jquery.slicknav.js"></script>
    <script th:src="@{/js/mixitup.min.js}" src="js/mixitup.min.js"></script>
    <script th:src="@{/js/owl.carousel.min.js}" src="js/owl.carousel.min.js"></script>
    <script th:src="@{/js/main.js}" src="js/main.js"></script>
    <script th:src="@{/js/dropzone.min.js}" src="js/dropzone.min.js"></script>




</head>
<body layout:fragment="content">
</body>
</html>
