<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="Ogani Template" name="description">
    <meta content="Ogani, unica, creative, html" name="keywords">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
</head>

<body layout:fragment="content">
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div th:replace="fragments/humberger :: humberger"></div>
<!-- Humberger End -->

<!-- Header Start -->
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <a th:href="@{/}"><img alt="" src="/img/logo.png"></a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li><a th:href="@{/}">หน้าหลัก</a></li>
                    <li sec:authorize="hasRole('ROLE_SHOP')"><a th:href="@{/myProduct}">ร้านค้า</a></li>
                    <li sec:authorize="hasRole('ROLE_SHOP')"><a th:href="@{/orderSeller}">คำสั่งซื้อ</a></li>
                    <li sec:authorize="hasRole('ROLE_CLIENT')"><a th:href="@{/orderBuyer}">คำสั่งซื้อ</a></li>
                    <li class="active"><a th:href="@{/contact}">ศูนย์ช่วยเหลือ</a></li>

                </ul>
            </nav>
        </div>

    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>
<!-- Header End -->

<!-- Hero Section Begin -->
<div th:replace="fragments/hero :: hero"></div>

<!-- Hero Section End -->


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>ศูนย์ช่วยเหลือ</h2>
                    <div class="breadcrumb__option">
                        <a th:href="@{/}">หน้าหลัก</a>
                        <span>ศูนย์ช่วยเหลือ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>เบอร์โทรศัพท์</h4>
                    <p>091-820-9423</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>ที่อยู่</h4>
                    <p>370/84 แขวงบางมด เขตทุ่งครุ กรุงเทพฯ 10140</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>เวลาให้บริการสอบถาม</h4>
                    <p>10:00 - 18:00 น.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>อีเมล</h4>
                    <p>phamin.prom@mail.kmutt.ac.th</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<hr>
<div class="contact-form spad">
    <div class="container">
        <h4 style="margin-bottom: 20px"><b>คำถามที่มักพบบ่อย</b></h4>
        <div class="row">
            <div class="col-lg-12">
                <div class="qa_col">
                    <b>คำถาม</b> : มีช่องทางในการชำระเงินแบบใดบ้าง? <br>
                    <b>คำตอบ</b> : ตอนนี้มีเฉพาะเก็บเงินปลายทางเท่านั้น
                </div>
                <div class="qa_col">
                    <b>คำถาม</b> : มีบริการขนส่งแบบใดบ้าง? <br>
                    <b>คำตอบ</b> : การขนส่งมีแบบทั้งแบบธรรมดาและแบบควบคุมอุณหภูมิ ของ SCG EXPRESS เท่านั้น
                </div>
                <div class="qa_col">
                    <b>คำถาม</b> : การจัดส่งเป็นการจัดส่งแบบใด บรรจุใส่อะไร?<br>
                    <b>คำตอบ</b> : <span><img src="/img/box-size.PNG"> </span>
                </div>
                <div class="qa_col">
                    <b>คำถาม</b> : ฉันสามารถติดตามสถานะการจัดส่งได้อย่างไร? <br>
                    <b>คำตอบ</b> <span>: ติดตามสถานะการจัดส่งได้ที่ <a
                        href="https://www.scgexpress.co.th/tracking" style="color: black; font-weight: bold"><u>สำหรับ SCG EXPRESS</u></a></span>
                </div>
                <div class="qa_col">
                    <b>คำถาม</b> : ฉันจะเริ่มขายสินค้าใน Goods Trade ได้อย่างไร? <br>
                    <b>คำตอบ</b>
                    <span>: 1.ทำการลงทะเบียนผู้ใช้ให้เรียบร้อย</span>
                    <div style="margin-left: 62px"> 2.ติดต่อทางเราได้ที่ช่องทางดังนี้ อีเมล :
                        phamin.prom@mail.kmutt.ac.th หรือ เบอร์โทรศัพท์ : 089-072-4608
                    </div>
                    <div style="margin-left: 62px">
                        3.ทางเราจะขอข้อมูลการละทะเบียนเกษตรกรของท่านและข้อมูลอื่นๆเพื่อตรวจสอบความน่าเชื่อถือ
                    </div>
                    <div style="margin-left: 62px">
                        4.เมื่อทางเราตรวจสอบเรียบร้อยจะทำการเปลี่ยนสิทธฺิ์ของบัญชีผู้ใช้ของท่านให้เป็นร้านค้าในเวลาทำการ
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<!--&lt;!&ndash; Map Begin &ndash;&gt;-->
<!--<div class="map">-->
<!--    <iframe-->
<!--            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49116.39176087041!2d-86.41867791216099!3d39.69977417971648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886ca48c841038a1%3A0x70cfba96bf847f0!2sPlainfield%2C%20IN%2C%20USA!5e0!3m2!1sen!2sbd!4v1586106673811!5m2!1sen!2sbd"-->
<!--            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
<!--    <div class="map-inside">-->
<!--        <i class="icon_pin"></i>-->
<!--        <div class="inside-widget">-->
<!--            <h4>New York</h4>-->
<!--            <ul>-->
<!--                <li>Phone: +12-345-6789</li>-->
<!--                <li>Add: 16 Creek Ave. Farmingdale, NY</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Map End &ndash;&gt;-->

<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>ส่งข้อความมาหาเรา</h2>
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input placeholder="ชื่อของคุณ" type="text">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input placeholder="อีเมลของคุณ" type="email">
                </div>
                <div class="col-lg-12 text-center">
                    <textarea placeholder="เขียนข้อความที่นี่"></textarea>
                    <button class="site-btn" type="submit">ส่งข้อความ</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Form End -->

<!-- Footer Section Begin -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer Section End -->
</body>

</html>