<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="Ogani Template" name="description">
    <meta content="Ogani, unica, creative, html" name="keywords">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
</head>

<body layout:fragment="content">
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div th:replace="fragments/humberger :: humberger"></div>
<!-- Humberger End -->

<!-- Header Start -->
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <a th:href="@{/}"><img alt="" src="/img/logo.png"></a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li><a th:href="@{/}">หน้าหลัก</a></li>
                    <li sec:authorize="hasRole('ROLE_SHOP')"><a th:href="@{/myProduct}">ร้านค้า</a></li>
                    <li sec:authorize="hasRole('ROLE_SHOP')"><a th:href="@{/orderSeller}">คำสั่งซื้อ</a></li>
                    <li sec:authorize="hasRole('ROLE_CLIENT')"><a th:href="@{/orderBuyer}">คำสั่งซื้อ</a></li>

                    <li><a th:href="@{/contact}">ติดต่อเรา</a></li>
                </ul>
            </nav>
        </div>

    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>
<!-- Header End -->

<!-- Hero Section Begin -->
<div th:replace="fragments/hero :: hero"></div>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>รายละเอียดสินค้า</h2>
                    <div class="breadcrumb__option">
                        <a th:href="@{/}">หน้าหลัก</a>
                        <a th:href="@{/}">ผลไม้สด</a>
                        <span th:text="${productDetail.name}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             th:src="${productDetail.getImage().get(0).getPath()}">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <div th:each="i: ${#numbers.sequence(0, productDetail.getImage().size()-1)}">
                            <img alt=""
                                 th:data-imgbigurl="${productDetail.getImage().get(i).getPath()}"
                                 th:src="${productDetail.getImage().get(i).getPath()}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3 th:text="${productDetail.name}"></h3>

                    <p th:text="${productDetail.detail}"></p>

                    <samp></samp>

                    <form method="post" th:action="@{/productDetail/} + ${productDetail.id} + '/addOrder'"
                          th:object="${productOrder}">
                        <!-- Button trigger modal -->
                        <button class="btn" data-target="#exampleModalCenter" data-toggle="modal"
                                style="background-color: #7fad39; color: white;"
                                type="button">
                            สั่งซื้อสินค้า
                        </button>
                        <!-- Modal -->
                        <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade"
                             id="exampleModalCenter"
                             role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            กรุณาใส่รายละเอียดเพิ่มเติม</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label class="col-form-label" for="message-text">รายละเอียด :</label>
                                            <textarea class="form-control" id="message-text"
                                                      placeholder="ต้องการอะไรเพิ่มเติม... (ตย.ขอทุเรียนดิบหน่อยจะเอามาทอดคะ)" th:field="*{detail}"
                                                      th:value="${productOrder.detail}"></textarea>
                                        </div>
                                        <div class="product__details__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input th:field="*{quantity}" th:value="${productOrder.quantity}"
                                                           type="number" value="1">
                                                </div>
                                                kg
                                            </div>
                                        </div>
                                        <p style="margin: 0px">*ค่าจัดส่งขั้นต่ำ 500 บาท </p>
                                        <p style="margin: 0px">**สั่งซื้อ 100 กิโลกรัมขึ้นไปค่าจัดส่งขั้นต่ำ 400 บาท </p>
                                        <p style="margin: 0px">***สั่งซื้อ 250 กิโลกรัมขึ้นไปจัดส่งฟรี </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">ปิด
                                        </button>
                                        <button class="btn btn-primary" type="submit">ยืนยัน</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <ul>
                        <li><b>สถานะสินค้า</b> <span style="color: green">มีสินค้า</span></li>
                        <li><b>วันปิดรอบการสั่งซื้อ</b> <span th:text="${productDetail.endDate}"></span></li>
                        <li><b>ปริมาณสินค้า</b> <span th:text="${productDetail.quantity}+${' kg'}"> </span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->


<!-- Footer Section Begin -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer Section End -->

</body>
</html>